
modules = ["web", "nodejs-20"]
run = "node npmfile.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node npmfile.js"]

[workflows]
runButton = "Preview HTML"

[[workflows.workflow]]
name = "Preview HTML"
author = 39557724

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx http-server -p 3000 --bind 0.0.0.0"

[[ports]]
localPort = 3000
externalPort = 80
